*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(26, 11, 46, 1);
    overflow-x: hidden;
}

/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient-box {
  background: linear-gradient(
    30.64deg,
    rgba(247, 233, 63, 1), 
    rgba(251, 9, 180, 1), 
    rgba(145, 0, 248, 1)
  );
}

.white{
    color: white;
}

.btn-primary{
    display: flex;
    height: 44px;
    max-width: 135px;
    padding: 12px 16px;
    border-radius: 10000px;
    gap: 4px;
    border: none;
}
.btn-primary p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.btn-primary span{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

/* nav related styles */

nav{
    max-width: 1200px;
    height: 92px;
    /* padding: 16px 12.5%; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
    
}
nav h1{
    height: 2rem;
    max-width: 218px;
    font-size: 2rem;
    font-weight: bolder;
}
nav ul{
    max-width: 218px;
    display: flex;
    gap: 32px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/* Hero section design */
 #hero-section{
    width: 100%;
    max-width: 1600px;
    min-height: calc(100vh - 92px);
    background: url(../assets/hero-bg.png), rgba(42, 24, 108, 1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.hero-container{
    max-width: 550px;
    text-align: center;
}

.img-container{
    max-width: 350px;
    margin: 0 auto 24px;
    position: relative;
}

.upper-img{
    position: absolute;
    top: 22%;
    left: 35%;
}

.img-container .lower-img{
    margin: 0 auto;
}

.btn-container{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.hero-container h1{
    font-size: 4rem;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}
.hero-container > p{
    max-width: 550px;
    opacity: 0.8;
    color: white;
    margin-bottom: 24px;
}
#spotify-btn{
    max-width: 201px;
    height: 44px;
}

#message-btn{
    background: none;
    border: 1px solid  rgba(0, 255, 136, 1);   
}
#message-btn p{
    color: rgba(0, 255, 136, 1);
}

