*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient-box {
  background: linear-gradient(
    30.64deg,
    rgba(247, 233, 63, 1), 
    rgba(251, 9, 180, 1), 
    rgba(145, 0, 248, 1)
  );
}

.white{
    color: white;
}

button{
    display: flex;
    height: 44px;
    max-width: 135px;
    padding: 12px 16px;
    border-radius: 10000px;
    gap: 4px;
    /* background-color: ; */
}
button p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
button img{
    width: 1.25rem;
    height: 1.25rem;
}

/* nav related styles */

nav{
    max-width: 1600px;
    height: 92px;
    padding: 1rem 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
    
}
nav h1{
    height: 2rem;
    width: 13.6rem;
    font-size: 2rem;
    font-weight: bolder;
}
nav ul{
    /* border: 2px solid salmon; */
    width: 218px;
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    color: white;

}
